export RETRY_TIMES="5"
export DY_USERNAME="{{ vault_dy_fi_ip_updater_dy_username }}"
export DY_PASSWORD="{{ vault_dy_fi_ip_updater_dy_password }}"
export DY_DOMAINS="{{ vault_dy_fi_ip_updater_dy_domains }}"
