---
- name: Set inotify limits
  ansible.builtin.sysctl:
    name: fs.inotify.max_user_watches
    value: '100000'
    sysctl_file: /etc/sysctl.d/99-overrides.conf
    state: present
    reload: yes
  become: true

- name: Create logrotate configuration for {{ ansible_user }}
  ansible.builtin.template:
    src: logrotate.pi.j2
    dest: /etc/logrotate.d/pi
    owner: root
    group: root
    mode: '0644'
  become: true
