[last_fm]
api_key = "{{ vault_heos_scrobbler_last_fm_api_key }}"
api_secret = "{{ vault_heos_scrobbler_last_fm_api_secret }}"
username = "{{ vault_heos_scrobbler_last_fm_username }}"
password = "{{ vault_heos_scrobbler_last_fm_password }}"
