# /etc/aliases
mailer-daemon: {{ vault_mail_default_to }}
postmaster: {{ vault_mail_default_to }}
nobody: {{ vault_mail_default_to }}
hostmaster: {{ vault_mail_default_to }}
usenet: {{ vault_mail_default_to }}
news: {{ vault_mail_default_to }}
webmaster: {{ vault_mail_default_to }}
www: {{ vault_mail_default_to }}
ftp: {{ vault_mail_default_to }}
abuse: {{ vault_mail_default_to }}
noc: {{ vault_mail_default_to }}
security: {{ vault_mail_default_to }}
pi: {{ vault_mail_default_to }}
root: {{ vault_mail_default_to }}
minidlna: {{ vault_mail_default_to }}
